PrognozaMeteoOrase/PrognozaMeteoOrase.Android/bin/
PrognozaMeteoOrase/PrognozaMeteoOrase.Android/obj/

PrognozaMeteoOrase/PrognozaMeteoOrase.iOS/bin/
PrognozaMeteoOrase/PrognozaMeteoOrase.iOS/obj/

PrognozaMeteoOrase/PrognozaMeteoOrase/bin/
PrognozaMeteoOrase/PrognozaMeteoOrase/obj/

.vs